page-single-item {
  .scroll-content {
    background-color: $white;
  }
  .background_image_header {
    background-image: url('http://sportk.net/uger/1645/os.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headline {
    color: $white;
  }
  .item__content {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
