<ion-header>
        <ion-navbar>
          <ion-title>
            <img class="title-image" alt="logo" height="40" src="assets/img/logo2.png" >
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
        <div class="top-player">
            <h3>{{item.name}}</h3>
            <h4>{{item.position}}</h4>
        </div>
        <img src="{{item.img}}" class="player-img" />
        <div class="player-stats">
            <div class="col-50 player-inner-stats" *ngIf="item.position == 'Målmand'">
              <h4>{{item.saves}}</h4>
              <p>Redninger</p>
            </div>
            <div class="col-50 player-inner-stats" *ngIf="item.position !== 'Målmand'">
                <h4>{{item.goals}}</h4>
                <p>Mål</p>
              </div>
            <div class="col-50 player-inner-stats">
                <h4>78</h4>
                <p>Kampe</p>
              </div>
        </div>
        <div class="player-content">
          <h4>Om {{item.name}}</h4>
            <p class="player-description">{{item.description}}</p>
        </div>
      </ion-content>
      