p.player-row {
    padding: 20px;
    border-bottom: 1px solid #c3c3c3;
}
p.score-teamname {
    text-align: center;

    font-size: 18px;
    padding: 10px;
}
p.score-score {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    background-color: #11327a;
    color: #fff;
}
p.time {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}